.body{
    align-items: center;
    position: relative;
    max-width: 20000px;
    margin: auto;
    width: 90%;
}

.text1{
    text-align: center;
    color: gray;
}

.container{
    max-width: 1500px;
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
}

 .box{
    background-color: darkturquoise;
    max-width: 400px;
    width: 400px;
    height: 200px;
    margin: 10px;
    align-items: center;
}

.textBox{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 80px;
    color: white;
}

.textUnder{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-top: 120px;
    
}

.textUnder2{
    color: gray;
}